.line-nomargin.clearfix{ :style=>"width: 900px;" }
  .left
    %h2
      = link_to "projects", root_path
      >
      = link_to @task.project.name, project_path(@task.project)
      >
      %span.green= @task.name

  .add-time-entries
    = simple_form_for [@task, TimeEntry.new] do |f|
      .left= f.input :hours, :label => "Hours: "
      .left= f.input :date, :label => "Date: "
      =# f.hidden_field :rate_amount, :value => current_user.rate_for(@task.project).amount-1
      .left.submit-button= f.submit "Add Time Entry"
    .clear


- if @entries_exist
  %table.green-big
    - @task.time_entries.each_with_index do |entry, index|
      - if index % 2 == 0
        - tr_class = ""
      -else
        - tr_class = "white"
      %tr{:class => tr_class}
        %td.title-1col= entry.hours.to_s + " hours"
        %td.col1= date_time(entry)
        %td
          = link_to "Delete", time_entry_url(entry), :method => :delete
- else
  .no-tasks You don't have any time entries for #{ @task.name }
%br/

- content_for :javascripts do  
  :javascript
      $(function() {        
        $("#time_entry_date").datepicker({dateFormat: 'dd-mm-yy'});
      });
