.grid_6
  %h2.page_title_w_margin New Invoice
  = form_tag 'show' do
    Start Date:
    = text_field_tag :start_date, "", id: "invoice_start_date"
    <br/><br/>
    End Date:
    = text_field_tag :end_date, "", id: "invoice_end_date"
    <br/><br/>
    Project:
    <select name="project">
    - @projects.each do |project|
      <option value="#{project.id}">#{project.name}</option>
    </select>
    <br/>
    <input type="checkbox" name="snapshot"></input>Create Snapshot?
    <br/>
    .green-submit= submit_tag "Generate Invoice"
-#
  .grid_6.snapshot
    %h2.page_title_w_margin Create Snapshot
    = form_tag 'snapshot' do
      Start Date:
      = text_field_tag :start_date, "", id: "snapshot_start_date"
      <br/><br/>
      End Date:
      = text_field_tag :end_date, "", id: "snapshot_end_date"
      <br/><br/>
      Project:
      <select name="project">
      - @projects.each do |project|
        <option value="#{project.id}">#{project.name}</option>
      </select>
      <br/>
      .green-submit= submit_tag "Generate Snapshot"    

- content_for :javascripts do  
  :javascript
      $(function() {

        $("#invoice_start_date").datepicker({dateFormat: 'dd-mm-yy'});
        $("#invoice_end_date").datepicker({dateFormat: 'dd-mm-yy'});

        $("#snapshot_start_date").datepicker({dateFormat: 'dd-mm-yy'});
        $("#snapshot_end_date").datepicker({dateFormat: 'dd-mm-yy'});

      });
.clear