#invoice-container
  %table#invoice
    %tr.no-bg
      %th Task
      %th Time
      %th Rate
      %th Cost
    - total_cost = 0
    - @project.users.each do |user|
      - tasks = user.tasks_for_dates_and_project(@start_date, @end_date, @project)
      - user_hours = 0
      -rate = user.rate_for(@project).amount
      - begin
        - if tasks.count > 0
          %tr
            %td{:colspan => 4, :style => "background-color: #333;"}
              %font{:color => "white"}
                %b= user.full_name
                
          - tasks.each_with_index do |entry, index|
            - if index % 2 == 0
              - tr_class = ""
            -else
              - tr_class = "alternate"
            %tr{:class => tr_class}
              - task_hours = entry.total_hours_for_dates(@start_date, @end_date)
              - user_hours += task_hours
              %td.title-1col= entry.name
              %td= task_hours.to_s + " hours"
              %td= number_to_currency(rate)
              %td= number_to_currency(task_cost(task_hours,rate))
          %tr.total
            %td{:colspan => 4, :style => "background-color:#44C0E9;"}
              = render :partial => 'total', :locals => {:hours => user_hours, :rate => rate}

          - total_cost += task_cost(user_hours,rate)
      - rescue

  %h1
    = "Total: " + number_to_currency(total_cost) + " USD"
  

