%div{:style => "width: 550px; margin: auto;"}
  .header
    sign in

  .main-content

    .sign-in
      .rounded-box{:style => "background-color: transparent; padding: 20px;"}
        .signin-form
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            .form-labels
              = f.label :email
              %br/
              = f.label :password
              %br/

            .form-inputs
              = f.text_field :email
              %br/
              = f.password_field :password
            .clear
            - if devise_mapping.rememberable?
              .remember-box
                = f.check_box :remember_me
                = f.label :remember_me
            .clear
            .submit-button= f.submit "Sign in"
          .clear
      .devise-links= render :partial => "devise/shared/links"
      .clear
